COZE_API_TOKEN=your_coze_api_token
COZE_WORKFLOW_ID_ENGINE=
COZE_WORKFLOW_ID_BENCHMARK=your_verified_video_workflow_id
COZE_API_BASE=https://api.coze.cn
PORT=3001
SQLITE_PATH=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
ADMIN_NAME=管理员
MAX_IMAGE_COUNT=10
CRAWLER_BASE_URL=http://127.0.0.1:8080
AI_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
AI_API_KEY=
AI_MODEL=ep-20260625172737-wdtl2
AI_API_TYPE=responses
AI_TIMEOUT_MS=90000
AI_VISION_TIMEOUT_MS=180000
AI_AUDIT_CONCURRENCY=3
AI_AUDIT_BATCH_SIZE=3
AI_AUDIT_ITEM_TIMEOUT_MS=90000
